@media screen and (max-width:576px) {
    nav,.banner, .meet, .footer_header,.bmi,.facts{
        padding:0 15px;
    }
    .banner{
        gap: 0px;
        flex-direction: column;
    }
    nav ul li{
        display: none;
    }
    .burger{
        display: block;
    }
    .banner_bg{
        margin: 0;
        margin-top: 5px;
    }
    .banner_img img, .run_img,table,.fact_img{
        width: 100%;
    }
    .banner_images{
        top: 95px;
        right: 45px;
    }
    .images_r {
            left: 50px;
            bottom: 45%;
    }
    .habit{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .run, .footer_header, .bmi_cards,.facts{
        margin: 0 5px;
        flex-direction: column;
    }
    .bmi_form_title{
        padding-top: 10px;
    }
    .bmi_cards{
        border-radius: 5px;
        padding: 0 15px;
    }
    .first{
        width: 100%;
    }
    .meet_team{
        grid-template-columns: repeat(1,1fr);
    }
    .fact_btn{
      left: 10px;
    }
}