@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
}
.universal_font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.d_flex{
    display: flex;

}
.d_grid{
    display: grid;
}
.text_white{
    color: #FFFFFF;
}
.text_dark_white{
    color: rgba(255,255,255,0.5);
}
.text_maroon{
    color: #E6533C;
}

/* header start */
header{
    background: #111111;
    
}
nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.header_title{
    font-size: 2.3rem;
    font-weight: 700;

}
.nav_bar{
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul li{
    list-style: none;
    margin-right: 45px;
}
.nav_bar ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;

}
.banner{

}
.banner_content{
    max-width: 520px;

}
.banner_title{
    font-size: 4.8rem;
    font

}
.banner_desc{

}
.buttons{

}
.c_button{
    font-size: 1.25rem;
    padding:16px 48px;
    background:none;
    border:1px solid white;
    border-radius:40px;
}
.banner_img{

}
/* header end */